# Ignore npm modules directory
/node_modules

# Ignore hidden files in project directory
/.*
# Except gitignore itself
!/.gitignore

# Ignore TW MultiWikiServer database
/mws/store

# Ignore tiddlers created when using the server
/mws/tiddlers
# Except the SQL engine config
!/mws/tiddlers/configMultiWikiServerEngine.tid

# Ignore package-lock.json as creates issues when
#  dependences are changed 
/package-lock.json

# Ignore logs
/logs
